.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f2f5;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}


.calculator {
  width: 320px;
  background-color: #222;
  border-radius: 12px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
}

.calculator-display {
  background-color: #1c1c1c;
  color: white;
  text-align: right;
  padding: 20px;
  font-size: 36px;
  font-weight: 300;
  height: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
}

.display-value {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.calculator-keypad {
  display: flex;
}

.input-keys {
  width: 240px;
}

.function-keys {
  display: flex;
  height: 64px;
}

.digit-keys {
  display: flex;
  flex-wrap: wrap;
  height: 256px;
}

.operator-keys {
  display: flex;
  flex-direction: column;
  width: 80px;
}

button {
  font-size: 20px;
  font-weight: 100;
  border: none;
  border-right: 1px solid #444;
  border-bottom: 1px solid #444;
  outline: none;
  color: white;
  padding: 0;
  margin: 0;
  background-color: #323232;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:active {
  background-color: #4d4d4d;
}

.function-keys button {
  flex: 1;
  background-color: #a5a5a5;
  color: black;
}

.function-keys button:active {
  background-color: #d9d9d9;
}

.digit-keys button {
  width: 80px;
  height: 64px;
}

.key-0 {
  width: 160px !important;
}

.operator-keys button {
  height: 64px;
  background-color: #f1a33c;
}

.operator-keys button:active {
  background-color: #f8c37c;
}

/* For better responsive behavior */
@media (max-width: 350px) {
  .calculator {
    width: 280px;
  }
  
  .input-keys {
    width: 210px;
  }
  
  .digit-keys button {
    width: 70px;
  }
  
  .key-0 {
    width: 140px !important;
  }
  
  .operator-keys {
    width: 70px;
  }
}